/*setting di base*/
body, html{font-family:'Inter', Arial, Helvetica, sans-serif; line-height:1; font-size:16px; box-sizing: border-box; margin:0; padding:0;}
*,*:before, *:after{ box-sizing: border-box;}
h1,h2,h3,h4,h5,h6,p,ol,ul{margin: 0 0 1rem 0; padding:0;}
ol,ul{ list-style-type: none; padding-left: 20px; line-height: 1.5;}
img{height: auto;}h1{font-size:3.5rem;}h2{font-size: 3rem;}h3{font-size: 2rem;}h4{font-size: 1rem;}h5{font-size: 0.8rem;}h6{font-size: 0.5rem;}
a{text-decoration: none; color:white}
/* setting pagina */
body{ background-color: black; color: white;}
h2,h1{text-align: center;padding-bottom: 2rem;}
p{font-size: 1.5rem;}
span{font-weight: bold; font-size: 1.6rem;}


/* home */
.home{
    width: 100%; height:auto;
    display: flex;
    padding: 5%;
    padding-top: 0;
    padding-bottom: 0;
    align-items:center;
    position: relative;
    background-color: rgba(0,35,51,255);
}
.home .col_70{text-align: center;}
.home .col_30 img{width: 100%; height: 100%;filter: blur(1px);filter:brightness(0.9); border-radius: 50%; margin: 2rem; padding: 2rem;}
.home .col_70 h1 span{color: #00e1ff; font-size: inherit; font-weight: inherit;}

/* hero */
.hero{ 
    display: flex;
    padding:5%;
    align-items: center;
    background-color: rgba(1, 49, 71, 0.979);
}

.hero .col_50{padding:1rem;}
.pulsante_abt{width:50%;background-color: #1C3A69;border: 2px solid #4A90E2;padding: 2% 2% 0% 2%; border-radius: 5px;  text-align: center; margin: 0 auto; font-weight: bold;}
.pulsante_abt:hover {transform: scale(1.1); box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);}
.iframe_container {
    position: relative;
    width: 100%; 
    padding-top: 56.25%;
}

.iframe_container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    border: 0;
}
/* card hero*/
.card_hero{ 
    padding:5% 10%;
    border-radius: 2%;
}
.card_hero h2{font-size: 2.5rem; padding-bottom: 0.5rem;}

/* focus attetion */
.focus_section {
    background-color: rgba(0,35,51,255);
}
.contenuto{
    display: flex;
    margin: 0 auto;
    padding:  5%;
    padding-top: 0;
    gap: 3rem;
    align-items: center;
}

.text_focus{padding: 5% 5% 0 5%;}
.text_focus h2{font-size: 4rem;}

.image_container img {
    width: 100%;
    height: auto;
}

.cards_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card_focus {
    background-color: #22597e;
    text-align: start;
    padding: 20px;
    border-left: solid 4px aqua;
    border-radius: 8px;
    line-height: 1.5;
    overflow-wrap: break-word;
}
.card_focus p{margin: 0;}
/* service */
.service {
    padding: 5%;
    text-align: center;
    background-color:  rgba(0,35,51,255); 
}
.grid {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 3%;
    align-items: center;
}
.card_service{
    position: relative;
    padding: 40px 20px 20px 20px; 
    border: 2px solid #00e1ff; 
    border-radius: 2%;
    background-color: rgb(2, 112, 155);
}
.card_service h3{font-size: 1.9rem;}
#tit{margin-bottom: 0;}
.card_service p{font-size: 1.3rem;}
.img_card {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%); 
    width: 100px; 
    height: auto; 
    border-radius: 10%; 
    border: 2px solid #00e1ff; 
}
.text_service{padding: 3%;}

/* about */
.about{display: flex;padding: 5%;align-items:center;flex-wrap: wrap; background-color: rgb(1, 49, 71, 0.979) }
.about img{width: 100%; border-radius: 10px;}
.about .col_60{padding:2%;text-align:start; font-size: 1.5rem;}
.about .col_40{padding:2%;}

.about_card p{margin: 0;}
.about_cards{display: flex; justify-content:space-around; font-weight: bold; gap:2rem; padding: 1rem 0;}
.about_card{background-color: #4A90E2;border: 2px solid #1C3A69; border-radius: 5px; padding: 1.2rem; padding-bottom: 1rem; text-align: center;}
.about_card:hover{transform: scale(1.1); box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);}
.about_card:nth-child(2) {
    background-color: #1C3A69;
    border: 2px solid #4A90E2;
}


/* portafolio */
.portafolio{align-content: center; padding: 5%;flex-wrap: wrap;background-color: rgb(1, 49, 71, 0.979);text-align: center; }
.portafolio h3{font-size: 2.5rem;}
.text{text-align: center;margin-bottom: 5rem;}
.studio{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 4rem;
    align-items:flex-start;
}
.studio .cards_container{gap: 50px; padding: 5% 10%; padding-right: 0;}
.cards_cont{width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px; padding: 5% 10%; padding-left: 0%;}
.card_portafolio{ 
    background-color: #22597e;
    text-align: start;
    padding: 20px;
    padding-bottom: 0;
    border-left: solid 4px aqua;
    border-radius: 8px;
    line-height: 1.5;
    overflow-wrap: break-word;}

    .card_portafolioT{ 
        background-color: #22597e;
        text-align: start;
        padding: 20px;
        padding-bottom: 0;
        border-right: solid 4px aqua;
        border-radius: 8px;
        line-height: 1.5;
        overflow-wrap: break-word;}

.portafolio .col_40 img{width: 100%; padding:5% 20% 20% 20%; margin-bottom:3rem ;}
.portafolio .col_100{padding: 0 10rem;;}
.portafolio .col_100 p{padding-bottom: 2%; text-align: center; margin-bottom: 2rem;}



/* come lavoremo */
.lavoro {
    background-color: rgba(0, 35, 51, 1);
    padding: 40px;
    color: white;
}

.lavoro-content {
    max-width: 900px;
    margin: 0 auto;
}

.lavoro h3{color:#00e1ff}

.lavoro ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 10px;
}

.lavoro ul li {
    font-size: 1.5rem;
    line-height: 1.6;
}
/* footer */
.footer{background-color: rgba(0,35,51,255); text-align:center; padding: 2% 5%;border-top: 4px solid #00e1ff;}
.foot{display: flex;}
.footer_instagram{    
    display: flex;
    justify-content: center;
    align-items: center;}
.footer a {
    color: #ffffff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 1.5rem;
}

.footer a:hover {
    color: #00e1ff; 
    transform: scale(1.1);
}

.instagram_icon {
    width: 150px; 
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
.footer_instagram:hover .instagram_icon {
    transform: rotate(360deg); 
}
.footer_email {
    margin-top: 20px;
  }
  
  .footer_email a {
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .footer_email a:hover {
    color: #00e1ff;
    transform: scale(1.05);
  }
/* colonne */
.col_100{width: 100%;}
.col_70{width: 70%;}
.col_60{width: 60%;}
.col_50{width: 50%;}
.col_40{width: 40%;}
.col_30{width: 30%;}
.col_20{width: 20%;}



@media (max-width:768px){
    h1{font-size: 1.6rem;}
    h2{font-size: 1.5rem;}
    h3{font-size: 1.2rem;}
    h1,h2{padding-bottom: 1rem;}
    p{font-size: 0.8rem;}
    span{font-size: 0.9rem;}
    .col_30,.col_40,.col_50,.col_60{width: 100%;}
    .home{min-height: 200px;}
    .hero{flex-direction: column-reverse; justify-content: center; padding: 2%;}
    .hero .col_40, .hero .col_60 {
        padding: 1rem 0;
    }
    .contenuto {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .text_focus h2{font-size: 1.5rem;}


    .image_container img {
        width: 80%;
    }

    .cards_container {
        gap: 10px;
    }

    .card_focus {
        padding: 15px;
        font-size: 1rem;
    }

    .grid {
        flex-direction: column;
        padding: 6%;
        gap:3rem;
    }
    .text_service{padding: 6%;}

    .card_service {
        margin-bottom: 1rem;
        padding: 20px;
    }

    .card_service h3{font-size: 1.3rem;}
    .card_service p{font-size: 0.8rem;}

    .img_card {
        top:-50px;
        width: 70px;
    }

    .about {
        padding: 3%;
    }

    .about .col_40 {
        padding: 5%;
    }
    .portafolio .col_100 img {
        width: 100%; 
        max-width: 100%; 
        height: auto; 
        transform: scale(1.2); 
        object-fit: contain; 
    }

    .footer h2{padding: 5%; margin:0}
    .footer a{font-size: 1.2rem;}
    .instagram_icon{width: 100px;}

}

@media (min-width:1300px){
    .home{min-height: 40rem;}
}

@media (min-width: 769px) and (max-width: 1030px) {
    /* Generale */
    h1 { font-size: 2.5rem;}
    h2 { font-size: 2rem; }
    h3 { font-size: 1.5rem; }
    p { font-size: 1rem; }
    span{ font-size: 1.1rem;}

    .home {
        min-height: 22rem;
    }

    .hero {
        flex-direction: row;
        padding: 5%;
        gap: 1rem;
    }
    .hero .col_40, .hero .col_60 {
        padding: 1rem;
    }

    .card_hero h1 {
        font-size: 2rem;
    }
    .card_hero p {
        font-size: 1rem;
    }

    /* Focus Section */
    .focus_section {
        flex-direction: row;
        text-align: start;
        gap: 2rem;
    }
    .focus_section .col_40, .focus_section .col_60 {
        width: 50%;
    }
    .image_container img {
        width: 100%;
    }

    /* Service Section */
    .grid {
        flex-wrap: nowrap;
        gap: 1rem;
        padding: 5%;
    }
    .card_service {
        padding: 20px;
        font-size: 1rem;
    }
    .card_service h3 {
        font-size: 1.5rem;
    }
    .card_service p {
        font-size: 1rem;
    }
    .img_card {
        width: 90px;
        top: -70px;
    }

    /* About Section */
    .about {
        padding: 5%;
        flex-direction: row;
    }
    .about .col_60, .about .col_40 {
        width: 50%;
    }
    .about_card {
        padding: 1rem;
        font-size: 1rem;
    }

    /* Portafolio */
    .portafolio {
        flex-direction: column;
    }
    .portafolio .col_100 img {
        width: 100%;
    }

    /* Footer */
    .footer a {
        font-size: 1.2rem;
    }
    .instagram_icon {
        width: 120px;
    }
}



